html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    margin: 0;
}

body {
    background-color: rgb(49, 49, 49);
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

.flex {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-top {
    margin-top: 2em;
}

.card {
    background: rgba(255, 255, 255, .7);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 256px;
    max-width: 256px;
    height: 256px;
    margin: 1rem;
    position: relative;
}

@media screen and (max-width: 1280px)
{
    .card {
        background: rgba(255, 255, 255, .7);
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 128px;
        max-width: 128px;
        height: 128px;
        margin: 1rem;
        position: relative;
    }
}

.card-hard {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-hard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image {
    padding: 1em;
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
}

.logo {
    margin-top: 200px;
    margin-bottom: 20px;
}

.bar {
    background-color: rgb(74, 74, 74);
    color: rgb(173, 173, 173);
    margin: 20% auto auto;
    width: 575px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.11) 0 0 2.9px 0, rgba(0, 0, 0, 0.13) 0 1.6px 3.6px 0;
}

.searchbar {
    background-color: rgb(74, 74, 74);
    color: rgb(173, 173, 173);
    height: 45px;
    border: none;
    width: 550px;
    font-size: 16px;
    outline: none;
}

.buttons {
    margin-top: 30px;
}

.container {
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

[tooltip] {
    position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

.backlink-pexels {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    text-decoration: none;
    font-size: 10px;
}
